{% extends "base.html" %}
{% block content %}
{% if companydatafiles|length > 0 %}

<div id="product-list-view" class="product-list-view row">
   <div id="product-list-container" class="list-view-body"
        ng-include="'product-list-item'">
     {% for folder in companydatafiles %}
     <div class="list-item">
       <div class="list-item-title">
               <span class="details pull-right"><span><i class="glyphicon glyphicon-save-file"></i></span></span>
               <span><a href="{{ folder | dirname }}">{{ companydatafiles[folder]['companyinfo']['ClientName'] }}</a></span>
               {% if path != "" %}
                  <div class="list-item-company-info">
                  {{ companydatafiles[folder]['companyinfo']['EventType'] }}
                  <br>
                  {{ companydatafiles[folder]['companyinfo']['EventDate'] }}
                </div>
                <div class="list-item-company-message">
                  For paper copies of any of the documents below, please call: phone number: {{ companydatafiles[folder]['companyinfo']['PhoneNum'] }}. Please allow 5 business days for processing and delivery.<br>
                  Document links will expire 1 year from the event date.
                </div>
                {% endif %}
       </div>

       {% if path != "" %}
       <div class="list-item-description">
           <p class="clip-verbiage">
            {% for file in companydatafiles[folder]['files'] %}
           <span><i class="glyphicon glyphicon-file"></i></span> <a href="{{ file }}">{{ file | basename }}</a>
           <br>
           {% endfor %}
         </p>
       </div>
       {% endif %}
   </div>
   {% endfor %}
 </div>
 </div>
 {% else %}
 <div class="description notfounddescription">
       <h2>All Document for this company have expired</h2>
       <p>
         Please try looking here instead <a href="{{ url_for('index') }}">noticeinsite</a>
       </p>
 </div>
 {% endif %}
 {% endblock %}
